html {
    background: url(imgs/pexels-mudassir-ali-3970396.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    display: block;
    margin: 0;
    padding: 0;
}

.container {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

#top-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#middle-row {
    display: flex;
    flex-direction: row;
    gap: 0px 20px;
    justify-content: center;
    margin-bottom: 10px;
}

#game-title {
    font-family: "Bebas Neue", cursive;
    font-size: 60px;
    color: #db9ef1;
    justify-content: center;

}

#gameOverIMG {
    display: none;
}

.grid {
    width: min-content;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #d39de7a2;
}

.row {
    display: flex;
    width: auto;
    height: 25px;
    margin: 1px;
}

.col {
    height: 25px;
    width: 25px;
    background-color: #a06ab4de;
    margin: 1px;
}

#start-button {
    align-items: center;
    background-color: #FBC740;
    border: 2px solid #efebf0;
    border-radius: 8px;
    box-sizing: border-box;
    color: #692483de;
    cursor: pointer;
    display: flex;
    font-family: "Bebas Neue", cursive;
    font-size: 20px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#ScoreTag {
    font-family: "Bebas Neue", cursive;
    color: #ca85e4;
    font-size: 20px;
}